:root{
    --pink-light: #fff3cd;
    --pink-dark: #923c67;
    --red-dark: #800040;
    --pink-medium: #ffe2ff;
}

body{
    font-family: 'Satisfy', cursive;
    background-color: var(--pink-light);
    
}

nav{
    font-size: 2rem ;
    
}

hr {
    color: var(--red-dark);
    height: 20px;
    background-color: var(--red-dark);
}